.wish-filter {
  margin-bottom: 25px;
  height: 0;
  transform: scale(0);
  transform-origin: top left;
  transition: all .4s cubic-bezier(0.075, 0.82, 0.165, 1);

  strong {
    margin-right: 15px;
  }

  &.visible {
    height: auto;
    transform: scale(1);
  }

  &--row {
    margin-bottom: 10px;
  }

  &__submit {
    margin-top: 15px;
    text-align: right;
  }
}