
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

.header {
  display: flex;

  &__logo {
    font-family: 'Knewave', cursive;
    color: #fff;
    font-size: 1.75rem;
    margin: 0 30px 0 25px;
  }
}