@import '~antd/dist/antd.css';

.layout {
  min-height: 100vh;
}

.site-layout-content {
  padding: 24px;
  background: #fff;
  min-height: calc(100vh - 134px);
}

.fill {
  width: 100%;
}

.justify-center {
  justify-content: center;
}

.floating-button {
  position: fixed;
  
  &.top {
    top: 90px;
  }

  &.bottom {
    bottom: 60px;
  }

  &.right {
    right: 30px;

    &.middle {
      right: 35px;
    }
  }

  &.left {
    left: 30px;
  }
}